@font-face {
    font-family: roboto;
    src: url(../fonts/RobotoCondensed-VariableFont_wght.ttf);
}

.header {
    background-color: black;
    .buscar {
        font-family: roboto;
        background-color: white;
        color: black;
        width: 350px;
    }
    .header-text {
        font-family: roboto;
        color: white;
        list-style: none;
        text-decoration: none;
    }
    .header-text:hover {
        background-color: white;
        color: black;
    }
}