@font-face {
    font-family: roboto;
    src: url(../fonts/RobotoCondensed-VariableFont_wght.ttf);
}

.header {
    background-color: black;
    height: 200px;
    .header-item {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 30px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .buscar {
        
            width: 60px;
            height: 30px;
        
    }
    .header-text {
        font-family: roboto;
        color: white;
        list-style: none;
        text-decoration: none;
    }
    .header-text:hover {
        background-color: white;
        color: black;
    }
    .contenedor-header {
        align-items: center;
    }
    .favoritos {
        text-decoration: none;
        font-family: roboto;
        color: white;
    }
    .favoritos:hover {
        background-color: white;
        color: black;
    }
}

.nav-list {
    list-style: none;
    .nav-link {
        text-decoration: none;
        font-family: roboto;
    }
    .nav-link:hover {
        background-color: black;
        color: white;
    }
}

.footer {
    background-color: white;
    .footer-text {
        font-family: roboto;
    }
}

.gallery {
    max-width: 950px;
    margin: auto; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    grid-auto-rows: 250px;
    justify-self: center;
    justify-content: center;
    gap: 1rem;
    .gallery__item {
        position: relative;
    overflow: hidden;
    }
    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius:2%;
    }
    .gallery__item--1 {
        grid-column: span 3;
        grid-row: span 2;
    }
    .gallery__item--2 {
        grid-column: span 2;
        grid-row: span 2;
    }
    .gallery__item--3 {
        grid-column: span 1;
        grid-row: span 2;
    }
    
    .gallery__item--4 {
        grid-column: span 2;
        grid-row: span  2;
    }
    .gallery__item--7 {
        grid-column: span 3;
        grid-row: span 1;
    }
    
    .gallery__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        transform: translateX(100%);
        transition: transform 0.70s ease;
        background-color: rgba(0, 0, 0, 0.26);
        justify-content: center;
        align-items: center;
        text-align: center;
      }   
      
      .gallery__text {
          width: 100%;
          color: white;
          font-size: 22px;
          text-align: center;
      }
      
      .gallery__item:hover .gallery__overlay {
       transform:translateX(0%) ;
      }
}

.estacion {
    max-width: 950px;
    margin: auto; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    grid-auto-rows: 250px;
    justify-self: center;
    justify-content: center;
    gap: 1rem;
    .estacion__item {
        background-color:red ;
        position: relative;
        overflow: hidden;
    }
     
    .estacion__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .estacion__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        transform: translateY(100%);
        transition: transform 0.70s ease;
        background-color: rgba(0, 0, 0, 0.26);
        justify-content: center;
        align-items: center;
        text-align: center;
      }   
    
      .estacion__text {
          width: 100%;
          color: white;
          font-size: 22px;
          text-align: center;
      }
      .estacion__link {
        text-decoration: none;
        color: white;
        font-family: roboto;
      }
      
      .estacion__item:hover .estacion__overlay {
       transform:translateY(0%) ;
      }
     
    .estacion__item--1 {
        grid-column: span 2;
        grid-row: span 3;
    }
    
    .estacion__item--2 {
        grid-column: span 2;
        grid-row: span 3;
    }
}

.invierno {
    max-width: 950px;
    margin: auto; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    grid-auto-rows: 250px;
    justify-self: center;
    justify-content: center;
    gap: 1rem;
    .invierno__item {
        background-color:red ;
        position: relative;
        overflow: hidden;
    }
    .invierno__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .invierno__item--1 {
        grid-column: span 2;
        grid-row: span 3;
    }
    .invierno__item--2 {
        grid-row: span 2 ;
    }
    .invierno__item--4 {
        grid-row: span 2;
    }
    .invierno__item--6 {
        grid-row: span 2;
    }
    .invierno__item--9 {
        grid-row: span 2;
    }
    .invierno__item--8 {
        grid-row: span 2;
    }
    .invierno__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        transform: translateY(100%);
        transition: transform 0.70s ease;
        background-color: rgba(0, 0, 0, 0.26);
        justify-content: center;
        align-items: center;
        text-align: center;
      }   
    .invierno__text {
        font-family: roboto;
        color: white;
    }
      .invierno__item:hover .invierno__overlay {
        transform:translateY(0%) ;
       }
       .invierno {
        max-width: 950px;
        margin: auto; 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: stretch;
        grid-auto-rows: 250px;
        justify-self: center;
        justify-content: center;
        gap: 1rem;
    }
    .invierno__item {
        background-color:red ;
        position: relative;
        overflow: hidden;
    }
    .invierno__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .verano {
        max-width: 950px;
    margin: auto; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    grid-auto-rows: 250px;
    justify-self: center;
    justify-content: center;
    gap: 1rem;
    }
    .verano__item {
        background-color:red ;
        position: relative;
        overflow: hidden;
    }
     
    .verano__item--1 {
        grid-row: span 2;
    }
    .verano__item--3 {
        grid-row: span 2;
    }
    
    
    .verano__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .verano__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        transform: translateY(100%);
        transition: transform 0.70s ease;
        background-color: rgba(0, 0, 0, 0.26);
        justify-content: center;
        align-items: center;
        text-align: center;
      }   
    .verano__text {
        font-family: roboto;
        color: white;
    }
      .verano__item:hover .verano__overlay {
        transform:translateY(0%) ;
       }
}
.textarea {
    height: 270px;
    resize: none;
}
.contenedor-form {
    gap:1rem;
}

@media (max-width:375px)
{
    .logo {
        max-width: 200px;
    }
    .header {
        height: 350px;
    }
.header-item {
    display: flex;
    flex-direction: column;
 
}
.texto {
    width: 300px;
}
.footer-img {
    max-width: 40px;
}
.gallery__item--1 {
    grid-column: span 3;
    grid-row: span 1;
}
.gallery__item--3 {
    grid-column: span 1;
    grid-row: span 1;
}
.gallery__item--2 {
    grid-column: span 1;
    grid-row: span 1;
}
.gallery__item--4 {
    grid-column: span 1;
    grid-row: span 1;
}
.gallery__item--5 {
    grid-column: span 1;
    grid-row: span 1;
}
.gallery__item--7 {
    grid-column: span 1;
    grid-row: span 1;
}
.estacion {
    display: flex;
    flex-direction: column;
}
.invierno__item--1 {
    grid-column: span 1;
    grid-row: span 1;
}
.invierno__item--2 {
    grid-column: span 2;
    grid-row: span 1;
}
.invierno__item--4 {
    grid-column: span 3;
    grid-row: span 2;
}
.invierno__item--3 {
    grid-column: span 3;
    grid-row: span 1;
}
.invierno__item--6 {
    grid-column: span 1;
    grid-row: span 1;
}
.invierno__item--7 {
    grid-column: span 1;
    grid-row: span 1;
}
.invierno__item--8 {
    grid-column: span 3;
    grid-row: span 1;
}
.invierno__item--9 {
    grid-column: span 3;
    grid-row: span 1;
}
.invierno__item--10{
    grid-column: span 3;
    grid-row: span 1;
}
.verano__item--1 {
    grid-column: span 3;
    grid-row: span 3 ;
}
.verano__item--3 {
    grid-column: span 3;
    grid-row: span 3 ;
}
.verano__item--2 {
    grid-column: span 3;
    grid-row: span 1 ;
}
.verano__item--4 {
    grid-column: span 2;
    grid-row: span 1 ;
}
.verano__item--5 {
    grid-column: span 1;
    grid-row: span 1 ;
}
.verano__item--6 {
    grid-column: span 3;
    grid-row: span 3 ;
}
.verano__item--7 {
    grid-column: span 2;
    grid-row: span 1 ;
}
.contacto-img {
max-width: 400px;
}
.contenedor-contacto {
 display: flex;
 flex-direction: column;   
}
input {
    width: 300px;
}
textarea {
    width: 300px;
}
}

@media (max-width:425px)
{
    .logo {
        max-width: 200px;
    }
    .header {
        height: 380px;
        width: 435px;
    }
.header-item {
    display: flex;
    flex-direction: column;
 
}
.texto {
    width: 300px;
}
.footer-img {
    max-width: 40px;
}
.gallery__item--1 {
    grid-column: span 3;
    grid-row: span 1;
}
.gallery__item--3 {
    grid-column: span 1;
    grid-row: span 1;
}
.gallery__item--2 {
    grid-column: span 1;
    grid-row: span 1;
}
.gallery__item--4 {
    grid-column: span 1;
    grid-row: span 1;
}
.gallery__item--5 {
    grid-column: span 1;
    grid-row: span 1;
}
.gallery__item--7 {
    grid-column: span 1;
    grid-row: span 1;
}
.estacion {
    display: flex;
    flex-direction: column;
}
.invierno__item--1 {
    grid-column: span 1;
    grid-row: span 1;
}
.invierno__item--2 {
    grid-column: span 2;
    grid-row: span 1;
}
.invierno__item--4 {
    grid-column: span 3;
    grid-row: span 2;
}
.invierno__item--3 {
    grid-column: span 3;
    grid-row: span 1;
}
.invierno__item--6 {
    grid-column: span 1;
    grid-row: span 1;
}
.invierno__item--7 {
    grid-column: span 1;
    grid-row: span 1;
}
.invierno__item--8 {
    grid-column: span 3;
    grid-row: span 1;
}
.invierno__item--9 {
    grid-column: span 3;
    grid-row: span 1;
}
.invierno__item--10{
    grid-column: span 3;
    grid-row: span 1;
}
.verano__item--1 {
    grid-column: span 3;
    grid-row: span 3 ;
}
.verano__item--3 {
    grid-column: span 3;
    grid-row: span 3 ;
}
.verano__item--2 {
    grid-column: span 3;
    grid-row: span 1 ;
}
.verano__item--4 {
    grid-column: span 2;
    grid-row: span 1 ;
}
.verano__item--5 {
    grid-column: span 1;
    grid-row: span 1 ;
}
.verano__item--6 {
    grid-column: span 3;
    grid-row: span 3 ;
}
.verano__item--7 {
    grid-column: span 2;
    grid-row: span 1 ;
}
.contacto-img {
max-width: 400px;
}
.contenedor-contacto {
 display: flex;
 flex-direction: column;   
}
input {
    width: 300px;
}
textarea {
    width: 300px;
}
}
@media (max-width:768px)
{

}